/******************************/
/*       General Styling      */
/******************************/
body{
  font-family: 'Raleway', sans-serif;
  color: gray;
  background: url(../img/bg.jpg) no-repeat fixed;
  background-size: auto;
  background-size: cover;
}

/******************************/
/*       Navigation Bar       */
/******************************/
.navbar{
  background-color:black;
  font-size: 110%;
}
.nav-item a{
  color: black;
  text-decoration: none;
}
.nav-item a:hover{
  color: black;
}
.nav-item a.active{
  color:#C8874D;
}
.nav-item a.active:hover{
  color:#D3AB7D;
}
/****   Dropdown menu   ****/
.dropdown {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  color: #fff;
  position: relative;
  font-size: 18px;
  perspective: 1000px;
  z-index: 99;
}
.dropdown:hover{
  background: transparent;
  color:#D3AB7D;
  /* cursor: pointer; */
}
.dropdown:hover .dropdown_menu li {
  display: block;
}
.dropdown_menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  perspective: 1000px;
  z-index: -1;
}
.dropdown_menu li {
  display: none;
  color: black;
  background-color: #e9d5be;
  padding: 10px 20px;
  font-size: 16px;
  opacity: 0;
  width: 200%;
}
.recetas{
  z-index: 100;
}
.recetas div{
  display: inline-block;
}
.dropdown_menu li:hover {
  background-color: #C8874D;
}
.dropdown:hover .dropdown_menu--animated {
  display: block;
}
.dropdown_menu--animated {
  display: none;
}
.dropdown_menu--animated li {
  display: block;
  opacity: 1;
}
.dropdown_menu-5 .dropdown_item-1 {
  transform-origin: top center;
  animation: translateX 300ms 60ms ease-in-out forwards;
}
.dropdown_menu-5 .dropdown_item-2 {
  transform-origin: top center;
  animation: translateX 300ms 120ms ease-in-out forwards;
}
.dropdown_menu-5 .dropdown_item-3 {
  transform-origin: top center;
  animation: translateX 300ms 180ms ease-in-out forwards;
}
.dropdown_menu-5 .dropdown_item-4 {
  transform-origin: top center;
  animation: translateX 300ms 240ms ease-in-out forwards;
}
.dropdown_menu-5 .dropdown_item-5 {
  transform-origin: top center;
  animation: translateX 300ms 300ms ease-in-out forwards;
}
@-moz-keyframes translateX {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes translateX {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-o-keyframes translateX {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes translateX {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
/*****************************/
/****   Hamburguer Menu   ****/
/*****************************/
.btn-tog {
	 position: relative;
	 padding: 1.5rem;
}
 .menu-toggle {
	 position: absolute;
	 right: 1.5rem;
	 top: 49%;
	 transform: translate(0, -50%);
	 height: 26px;
	 width: 29px;
}
 .menu-toggle, .menu-toggle:hover {
	 color: #000;
}
 .menu-toggle-bar {
	 display: block;
	 position: absolute;
	 top: 50%;
	 margin-top: -1px;
	 right: 0;
	 width: 100%;
	 height: 4px;
	 border-radius: 4px;
	 background-color: #D3AB7D;
	 transition: all 0.3s ease;
}
 .menu-toggle-bar.menu-toggle-bar--top {
	 transform: translate(0, -8px);
}
 .menu-toggle-bar.menu-toggle-bar--bottom {
	 transform: translate(0, 8px);
}
 .nav-open .menu-toggle-bar.menu-toggle-bar--top {
	 transform: translate(0, 0) rotate(45deg);
}
 .nav-open .menu-toggle-bar.menu-toggle-bar--middle {
	 opacity: 0;
}
 .nav-open .menu-toggle-bar.menu-toggle-bar--bottom {
	 transform: translate(0, 0) rotate(-45deg);
}
/*****************************/
/****     Search Bar      ****/
/*****************************/


/***************** For small devices *****************/
@media (max-width: 991px) {
  .dropdown_menu li {
    width: 50%;
    margin-left:30%;
  }

}
